.spacer {
  justify-content: space-evenly;
}

a{
  text-decoration: none;
  color: #ffffff;
  text-decoration: none;
  font-family: "Lucida Console", monospace;
  font-size: 2vw;
}

a:active, a:hover{
  color: accent;
  background-color: rgb(52, 3, 98);
  padding: 15px 25px;
}
