<div *ngIf="criteriaListenedFromExternalComponent.criteria==''" class="wrapper">
  <div class="titulo">
    <h1 style="color: aliceblue;">Criteria no seleccionada</h1>
  </div>
</div>
<div class="wrapper" *ngIf="loading">
  <div  class="lds-dual-ring"></div>
</div>
<div *ngIf="criteriaListenedFromExternalComponent.criteria!='' && !loading"  >
  <div class="wrapper">
    <div class="titulo">
      <h1 style="color: aliceblue;">{{criteriaListenedFromExternalComponent.criteria}}</h1>
    </div>
  </div>
  <hr>
  <mat-grid-list cols="2"
  rowHeight="20rem" gutterSize="1.5rem">
  <div *ngFor="let ani of criteriaListenedFromExternalComponent.animals">
    <mat-grid-tile>
      <div class="texto">
        <h1>{{ani.name}}</h1>
      <hr>
      <p>Peso: {{ani.characteristics.weight}}</p>
      <p>Altura: {{ani.characteristics.length}}</p>
      <p>Ubicacion: {{ani.characteristics.location}}</p>
      </div>
    </mat-grid-tile>
  </div>
</mat-grid-list>
</div>


