<html>
  <head>
    <script scr="script.js"></script>
  </head>
  <br>
  <br>
  <form>
    <div style="display: flex; flex-direction: column; width: 50%; margin: 0 auto; padding: 2rem; background-color: #f2f2f2; border: 1px solid #ccc; border-radius: 10px;">
      <label for="name" style="width: 100%; padding: 1rem; margin-bottom: 1rem; font-size: 1.2rem; box-sizing: border-box;">Nombre:</label>
      <input type="text" id="name" name="name" style="width: 100%; padding: 1rem; margin-bottom: 1rem; font-size: 1.2rem; box-sizing: border-box; border-radius: 5px; border: 1px solid #ccc;">

      <label for="email" style="width: 100%; padding: 1rem; margin-bottom: 1rem; font-size: 1.2rem; box-sizing: border-box;">Email:</label>
      <input type="email" id="email" name="email" style="width: 100%; padding: 1rem; margin-bottom: 1rem; font-size: 1.2rem; box-sizing: border-box; border-radius: 5px; border: 1px solid #ccc;">

      <label for="subject" style="width: 100%; padding: 1rem; margin-bottom: 1rem; font-size: 1.2rem; box-sizing: border-box;">Asunto:</label>
      <input type="text" id="subject" name="subject" style="width: 100%; padding: 1rem; margin-bottom: 1rem; font-size: 1.2rem; box-sizing: border-box; border-radius: 5px; border: 1px solid #ccc;">

      <label for="message" style="width: 100%; padding: 1rem; margin-bottom: 1rem; font-size: 1.2rem; box-sizing: border-box;">Mensaje:</label>
      <textarea id="message" name="message" style="width: 100%; padding: 1rem; margin-bottom: 1rem; font-size: 1.2rem; box-sizing: border-box; border-radius: 5px; border: 1px solid #ccc; height: 10rem;"></textarea>
      <div style="justify-content: center; display: flex;">
        <button type="submit" id="submitBtn" style="width: 40%; padding: 1rem; background-color: #4CAF50; color: #fff; border: none; border-radius: 5px; font-size: 1.2rem; cursor: pointer;">Enviar</button>
      </div>
    </div>
  </form>

  <script>
    const submitBtn = document.getElementById("submitBtn");
    submitBtn.addEventListener("click", function() {
      const name = document.getElementById("name").value;
      if (name == "") {
        alert("Por favor ingrese un nombre");
      } else {
        alert("Nombre: " + name);
      }
    });
  </script>

</html>
