<mat-grid-list cols="3" rowHeight="2rem" gutterSize="1.5rem">
  <div>
    <mat-grid-tile>
      <button (click)="onCriteriaSelect(1)"  mat-raised-button color="accent">Sapos</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button (click)="onCriteriaSelect(2)"  mat-raised-button color="accent">Zorros</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button (click)="onCriteriaSelect(3)" mat-raised-button color="accent">Dragones</button>
    </mat-grid-tile>
  </div>
</mat-grid-list>
