<mat-grid-list cols="3" rowHeight="2rem" gutterSize="1.5rem">
  <div>
    <mat-grid-tile>
      <button style="background-color: rgba(41, 27, 197, 0.511); color: white ; font-size: 20px; font-family: Georgia, serif;" (click)="onCriteriaSelect(1)"  mat-raised-button color="primary">Sapos</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button style="background-color: rgba(41, 27, 197, 0.511); color: white ; font-size: 20px; font-family: Georgia, serif;" (click)="onCriteriaSelect(2)"  mat-raised-button color="accent">Zorros</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button style="background-color: rgba(41, 27, 197, 0.511); color: white ; font-size: 20px; font-family: Georgia, serif;" (click)="onCriteriaSelect(3)" mat-raised-button color="accent">Dragones</button>
    </mat-grid-tile>
  </div>
</mat-grid-list>
